html , header{
    width: 100%;
    background-color: black;
    
}
header{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(72, 255, 0, 0.527));
    border-bottom: 2px solid rgba(99, 160, 87, 0.637);

}
img{
    display: block;
    width: 14%;

}



h2{
    border-top: 3px;
    color: aliceblue;
}

.tr{
    background-color: black;
}